%body
  .container
    .row
      .col-md-9
        %h1.page-header
          Ruby And Rails Info Stream
          %p
          = link_to 'Refresh Data', root_path, class:  'btn btn-round btn-primary', style: 'margin: 0 0 10px', :method => :get
        %h2
          Ruby On Rails News
          %h4
            Tweets from @RubyonRailsNews
        %ul
          - TwitterApi.rornews_tweets.each do |tweet|
            %li= parsed_tweet tweet
        %h2
          Ruby Inside (content from weekly newsletter)
          %h4
            Tweets from @RubyInside
        %ul
          - TwitterApi.rubyinside_tweets.each do |tweet|
            %li= parsed_tweet tweet
        %h2
          Ruby On Rails Content
          %h4
            Tweets from @RubyonRRails
        %ul
          - TwitterApi.railscontent_tweets.each do |tweet|
            %li= parsed_tweet tweet
        %h2
          Ruby On Rails Jobs
          %h4
            Tweets from @rorjobs
        %ul
          - TwitterApi.rorjobs_tweets.each do |tweet|
            %li= parsed_tweet tweet
      .row
        .col-md-3
          .well
            = render partial: 'pages/resources'

  :javascript
    $(document).on('ready', function () {
      $('.carousel').carousel({
          interval: 1000 //changes the speed
      })
    });
