.container
  .row
    .col-md-3
      %h1.page-header
        Machine Learning Resources
        -#%small Helpful Links
.row
  .col-md-3
  .list-group
    = link_to 'Quick review of the linear algebra concepts relevant to machine learning', "http://www.deeplearningbook.org/contents/linear_algebra.html", class: 'list-group-item', target: '_blank'
    = link_to 'An Introduction to Statistical Learning (Book and MOOC slides', "http://www-bcf.usc.edu/~gareth/ISL/", class: 'list-group-item', target: '_blank'
    = link_to 'Every single Machine Learning course on the internet, ranked by your reviews', "https://medium.freecodecamp.org/every-single-machine-learning-course-on-the-internet-ranked-by-your-reviews-3c4a7b8026c0", class: 'list-group-item', target: '_blank'
    = link_to 'Deep Learning Book, a.k.a. the Bible of Deep Learning, authored by Ian Goodfellow, Yoshua Bengio, and Aaron Courville', "http://www.deeplearningbook.org/", class: 'list-group-item', target: '_blank'
    = link_to 'Machine learning algom cheat sheet', "https://docs.microsoft.com/en-us/azure/machine-learning/studio/algorithm-cheat-sheet", class: 'list-group-item', target: '_blank'
    = link_to 'Neural Networks and Deep Learning (free online book', "http://neuralnetworksanddeeplearning.com/", class: 'list-group-item', target: '_blank'

