%nav.navbar.navbar-default.navbar-fixed-top
	.container
		.navbar-header
			%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			= link_to image_tag('BitParrot_logo_GrayFont.png', width: 150, height: 50, align: 'left', style: 'margin: 0px 0px 10px 0px'), root_path
			= link_to 'Home', root_path, class: 'navbar-brand', style: 'margin: 0px 0px 0px 15px'
			= link_to 'Ruby and Rails', ruby_and_rails_path, class: 'navbar-brand', style: 'margin: 0px 0px 0px 15px'
			= link_to 'Python', python_path, class: 'navbar-brand', style: 'margin: 0px 0px 0px 15px'
			= link_to 'About', about_path, class: 'navbar-brand'
			= link_to 'FAQ', faq_path, class: 'navbar-brand'
			-#= link_to 'Sign In', new_user_session_path, class: 'navbar-brand'
			-#= link_to 'Sign Up', new_user_registration_path, class: 'navbar-brand'
		.collapse.navbar-collapse
			%ul.nav.navbar-nav
				= render 'layouts/navigation_links'